<!--<html>-->
  <!--<head>-->
    <!--<title>Google Hangouts</title>-->
      <!--<style>-->


      <!--</style>-->
  <!--</head>-->
    <!--<body>-->
      <!--<form action="https://plus.google.com/hangouts/_" method="get" target="_blank">-->
      <!--<button>Hangout</button>-->
        <!--<input type="hidden" name="gid" value="">-->
        <!--<select name="gd">-->
          <!--<option>Hangouts</option>-->
          <!--<option>Google+ API</option>-->
          <!--<option>+1 Button</option>-->

        <!--</select>-->

       <!--<input type="submit">-->
      <!--</form>-->

    <!--</body>-->

<!--</html>-->


<html>
<head>

  <title>Hangout button demo: Async load</title>
  <link rel="canonical" href="http://localhost:3000" />
  <script >
    window.___gcfg = {
      lang: 'en-US',
      parsetags: 'onload'
    };
  </script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
</head>

<form action="https://plus.google.com/hangouts/_" method="get" target="_blank">
  <input type="hidden" name="gid" value="329664135176">
  <select name="gd">
    <option>Hangouts</option>
    <option>Google+ API</option>
    <option>+1 Button</option>

  </select>

  <input type="submit">
</form>
<g:hangout  render="createhangout"
     initial_apps="[{ app_id : '740650661792', start_data :  'dQw4w9WgXcQ', app_type : 'LOCAL_APP' }]"
     invites="[{ id : '105308898144281290804', invite_type : 'PROFILE' },
                  { id : 'durga@eggheadcreative.com', invite_type : 'EMAIL' }]" targrt = "_blank">
</g:hangout>

<a  href="/users">Users</a>

</body>
</html>
