<!--<html>-->
  <!--<head>-->
    <!--<title>Google Hangouts</title>-->
      <!--<style>-->


      <!--</style>-->
  <!--</head>-->
    <!--<body>-->
      <!--<form action="https://plus.google.com/hangouts/_" method="get" target="_blank">-->
      <!--<button>Hangout</button>-->
        <!--<input type="hidden" name="gid" value="">-->
        <!--<select name="gd">-->
          <!--<option>Hangouts</option>-->
          <!--<option>Google+ API</option>-->
          <!--<option>+1 Button</option>-->

        <!--</select>-->

       <!--<input type="submit">-->
      <!--</form>-->

    <!--</body>-->

<!--</html>-->


<html>
<head>
  <title>Hangout button demo: Async load</title>
  <link rel="canonical" href="http://www.example.com" />
  <script src="https://apis.google.com/js/platform.js" async defer>
  </script>
</head>
<body>
<g:hangout render="createhangout"></g:hangout>
</body>
</html>
